:root{box-sizing: border-box;
    font-family:Roboto;
    margin: 0px;
    padding: 0px;
    
    }
body{
    margin: 0;
    overflow-x: hidden;
}
    *,
    ::before,
    ::after{box-sizing: inherit;}
a {
    color: inherit;
    text-decoration: none;
}
.main-page-1280{

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*width: 99vw;*/
    /*grid-template-columns: 0 100vw 0; /*TODO убрать это */
    /*grid-auto-rows: 908px 57.06vw;*/
}

.start-screen-1280{
    
    width: 100%;
    height: 71vw;
    /*grid-column: 2/3;*/
    background-image: url('./images/start-screen-background2.jpg');
    background-position: center;
    background-size:cover;
}
/*.start-screen-left{
    grid-column: 1/2;
    background-image: url('./images/start-screen-background2-rotate.jpg');
    background-position: center;
    background-size:cover;
    height: 71vw;
}
.start-screen-right{
    grid-column: 3/4;
    background-image: url('./images/start-screen-background2-rotate.jpg');
    background-position: center;
    background-size:cover;
    height: 71vw;

}*/
.header-1280{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 94.12vw;
    height: 4.7vw;
    margin-top: 2.35vw;
    margin-left: 1.13vw;
    margin-right: 1.13vw;
    align-content: center;
}
.header-logo-1280{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 42.70vw;
}
.header-logo-link-1280{
    text-decoration: none;
}

.header-logo-title-1280 {
    margin: 0;
    width: 14.9vw;
    height: 2.75vw;
    /*left: 0px;
    top: calc(50% - 2.76vw/2 - 12.0.39vw);*/
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2.51vw;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3; 
}

.header-logo-subtitle-1280{
margin-left: 0.32vw;
margin-top: 0.78vw;
margin-bottom: 0;
margin-right: 0;

width: 14.9vw;
height: 1.17vw;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 1.02vw;
line-height: 1.18vw;
display: flex;
align-items: center;
letter-spacing: 0.1em;
color: #FFFFFF;
}

.header-nav-1280{
    width: 34.12vw;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.18vw;
    line-height: 160%;
    color: #FAFAFA;


/* Inside auto layout */
/*flex: none;
order: 0;
flex-grow: 0;*/
}
.header-nav-about-1280{
    text-decoration: underline;
    text-decoration-color: #FDDCC4;
    text-decoration-thickness: 0.24vw;
}

#header-nav:hover{
    font-weight: 700;
}

.start-screen-context-flex{
    width: 98vw;
    display: flex;
    flex-direction: row;
}

.start-content{
    position: relative;
    /*align-content:center;*/
    width: 36.23vw;
    height: 25.1vw;
    margin-left:2.14vw ;
    margin-right: 1.82vw;
    margin-top: 19.14vw;
    
}

.start-content-heading{
    color:white;
}

.start-content-heading_h2{
margin: 0;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 4.47vw;
/*line-height: 130%;
/* or 4.47vw */
display: flex;
align-items: center;
/* color-light-xl */
color: #FFFFFF;



}

.start-content-heading_sub{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 1.18vw;
line-height: 160%;
/* or 20.31vw */
display: flex;
align-items: center;

/* color-dark-s */
color: #CDCDCD;
margin-top: 1.88vw;
margin-bottom: 1.88vw;

}

.start-content-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.18vw 3.53vw;
    /*gap: 0.78vw;*/
    width: 16.24vw;
    height: 4.08vw;
    /*left: calc(50% - 207px/2 - 126.0.39vw);*/
    /*bottom: 36px;*/
    background: #F1CDB3;
    border-radius: 7.84vw;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.34vw;
    line-height: 130%;
    color: #292929;
    cursor: pointer;
}
.start-content-button:hover{
    background: #FDDCC4;
}


.start-puppy-1280{
    position: relative;
    
    width: 54.9vw;
    height: 57.25vw;
    background-image: url('./images/start-screen-puppy-1280.png');
    background-position: center;
    background-size:cover;
    margin-right: 1.14vw;
    margin-top:6.80vw;
    margin-left: auto;
    
}
/*=====================================================about============================================*/
.about-1280{
    /*grid-column: 2/3;
    grid-row: 2/3;*/
    width: 100%;
    height: 46.27vw;
}

.start-about-1280{
    display: flex;
    flex-direction: row;
    width: 94.12vw;
    height: 32.16vw;
    margin: 6.27vw auto 7.84vw auto;/*left, right 1.14*/
}

.start-about-pets-1280{
    width: 23.53vw;
    height: 32.16vw;
    background-image: url('./images/start-about-pets-1280.png');
    background-position: center;
    background-size:cover;
    margin: 0 9.41vw 0 13.73vw;
    
}

.start-about-content-1280{
    display: flex;
    flex-direction: column;
    width: 33.73vw;
    height: 36.27vw;
    margin: 0 13.73vw 0 0;
}

.start-about-content_heading{
    width: 29.02vw;
    height: 7.06vw;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2.76vw;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 1.96vw;
}

.start-about-content_subhead_1{
    width: 33.73vw;
    height: 7.53vw;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.18vw;
    line-height: 160%;
    color: #4C4C4C;
    margin-bottom: 1.96vw;
}

.start-about-content_subhead_2{
    width: 33.73vw;
    height: 11.29vw;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.18vw;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #4C4C4C;
}
/*====================================================pets===================================================
/*.pets-left{
    height: 86.27vw;
    grid-column: 1/2;
    grid-row: 3/4;
    background: #F6F6F6; 
}

.pets-right{
    height: 86.27vw;
    grid-column: 3/4;
    grid-row: 3/4;
    background: #F6F6F6; 
}*/

.pets-1280{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70.27vw;
    grid-column: 2/3;
    /*border: 1px solid black;*/
    background: #F6F6F6;
}

.start-pets-content-1280{
    display: flex;
    flex-direction: column;
    width: 94.18vw;
    height: 54.9vw;
    margin: 6.27vw 1.14vw 7.61vw 1.14vw;

}

.start-pets-content-button{
    /* button_primary */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 1.18vw 3.53vw;
gap: 0.78vw;


width: 20.78vw;
height: 4.08vw;


background: #F1CDB3;
border-radius: 7.84vw;


/* Get to know the rest */



font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 1.34vw;
line-height: 130%;
/* identical to box height, or 1.73vw */
letter-spacing: 0.06em;

/* color-dark-3xl */
color: #292929;
margin: 0vw 36.63vw 7.84vw 36.55vw;/*top 4.71vw*/
cursor: pointer;
}
.start-pets-content-button:hover{
    background: #FDDCC4;
}

.start-pets-contetnt-heading{
    /* Heading */


width: 31.37vw;
height: 7.06vw;


/* h3 */
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 2.76vw;
line-height: 130%;
/* or 3.53vw */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/* color-dark-l */
color: #545454;
margin: 0 31.37vw 4.71vw 31.37vw;

}

.start-pets-content-slider{
    display: flex;
    flex-direction: row;
    width: 94.18vw;
    height: 42.76vw;

}

.slider-button-left{
    height: 4.08vw;
    width: 4.08vw;
    border-radius: 7.84vw;
    background-image: url('./images/button_arrow_left.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
/*FDDCC4*/
    cursor: pointer;
    margin-top: 15.06vw;
    margin-right: 4.16vw;

}
.slider-button-left:hover{
    background-image: url('./images/button_arrow_left_hover.png');
}

.slider-card{
    display: flex;
    flex-direction: column;
    height: 42.76vw;
    width: 21.18vw;
    border-radius: 0.71vw;
    background: #F6F6F6;

}

.slider-card-2{
    margin: 0 7.06vw;
}

.slider-button-right{
    height: 4.08vw;
    width: 4.08vw;
    border-radius: 7.84vw;
    background-image: url('./images/button_arrow_right.png');
/*FDDCC4*/
    cursor: pointer;
    margin-top: 15.06vw;
    margin-left: 4.16vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider-button-right:hover{
    background-image: url('./images/button_arrow_right_hover.png');
}  

.slider-card-foto{
    height: 21.18vw;
    width: 21.02vw;
    border-top-right-radius: 0.71vw;
    border-top-left-radius: 0.71vw;
}

.slider-card-name{
width: 5.08vw;
height: 1.8vw;
/* pets-card-title */
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 1.57vw;
line-height: 1.8vw;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #545454;
margin: 2.35vw 7.69vw 1.96vw 7.69vw;

}
.slider-card-button{
height: 4.47vw;
width: 16.99vw;
background-image: url('./images/slider-card-button.png');
cursor: pointer;
margin: 1.96vw 3.22vw 2.35vw 3.22vw;
background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.slider-card-button:hover{
    background-image: url('./images/slider-card-button-hover.png');

}

.slider-foto-1{
    background-image: url('./images/pets/pets-katrine.png');
    background-position: center;
    background-size:cover;
}

.slider-foto-2{
    background-image: url('./images/pets/pets-jennifer.png');
    background-position: center;
    background-size:cover;
}

.slider-foto-3{
    background-image: url('./images/pets/pets-woody.png');
    background-position: center;
    background-size:cover;
}

.help-1280{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 47.92vw; /*60.78vw*/
    grid-column: 2/3;
}

.start-help-content{
    display: flex;
    flex-direction: column;
    height: 33.8vw;
    width: 94.18vw;
    margin: 6.27vw 1.14vw 7.84vw 1.14vw;

}
.start-help-content-heading{
width: 24.16vw;
height: 7.06vw;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 2.76vw;
line-height: 130%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #545454;
margin:0 34.98vw 4.71vw 34.98vw

}

.start-help-content-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 22.04vw;
    width: 80.47vw;
    margin: 0 6.82vw 0 6.82vw;
    justify-content: space-around;
}

.start-help-content-list-item{
    display: flex;
    flex-direction: column;
    height: 8.86vw;
    font-family: Georgia;
    font-size: 1.57vw;
    font-weight: 400;
    line-height: 1.8vw;
    letter-spacing: 0.06em;
    text-align: center;
    margin-left: 3.14vw;
    margin-right: 3.14vw;

}
.list-item-1{
    margin-left: 0;
}

.list-item-5{
    margin-right: 0;
}

.list-item-icon{
    height: 4.71vw;;
    width:4.71vw;
    margin: auto;
    background-position: center;
    background-size: cover;

}
.list-item-icon-1{
    width: 3.92vw;
    background-image: url('./images/icons/pet-food.png');
   
}

.list-item-icon-2{
    background-image: url('./images/icons/transportation.png');
}

.list-item-icon-3{
    background-image: url('./images/icons/toys.png');
}

.list-item-icon-4{
    background-image: url('./images/icons/bowls-and-cups.png');
}

.list-item-icon-5{
    width:3.92vw;
    height: 5.49vw;
    background-image: url('./images/icons/shampoos.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.list-item-icon-6{
    background-image: url('./images/icons/vitamins.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.list-item-icon-7{
    background-image: url('./images/icons/medicines.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.list-item-icon-8{
    background-image: url('./images/icons/collars-or-leashes.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.list-item-icon-9{
    background-image: url('./images/icons/sleeping-area.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*.donation-left{
    height: 36.24vw;
    grid-column: 1/2;
    grid-row: 5/6;
    background: #F6F6F6;
}

.donation-right{
    height: 36.24vw;
    grid-column: 3/4;
    grid-row: 5/6;
    background: #F6F6F6;
}*/

.donation-1280{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    width: 98vw;
    height: 36.24vw;
    background: #F6F6F6;

}

.stard-donation-content{
    display: flex;
    flex-direction: row;
    width: 85.18vw;
    height: 22.12vw;
    margin: 6.27vw 6.27vw 7.84vw 6.20vw;
}

.start-donation-content-img{
    width: 39.6vw;
    height: 22.71vw;
    margin: 0 2.35vw 0.78vw 2.35vw;/*right2.35vw*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./images/donation-dog.png');

}

.start-donation-content-text{
    display: flex;
    flex-direction: column;
    width: 36.27vw;
    height: 22.12vw;
}

.start-donation-content-text-heading{
    width: 23.53vw;
    height: 7.06vw;
    font-family: Georgia;
    font-size: 2.76vw;
    font-weight: 400;
    line-height: 3.53vw;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
    margin: 0 6.27vw 1.57vw 0;
}

.start-donation-content-text-subheading{
    width: 30.78vw;
    height: 1.34vw;
    font-family: Georgia;
    font-size: 1.18vw;
    font-weight: 400;
    line-height: 1.34vw;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 1.57vw 5.73vw 1.57vw 0;

}
.start-donation-content-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 3.37vw;
    width: 27.37vw;
    background: #F1CDB3;
    border-radius: 0.71vw;
    justify-content: space-between;
    align-content: center;
    margin: 0 2.9vw 0.78vw 0;
    cursor: pointer;


}
.start-donation-content-card:hover{
    background-color: #FDDCC4;
}
.card-num{
    color: #545454;
    font-family: Georgia;
    font-size: 1.57vw;
    font-weight: 400;
    line-height: 1.8vw;
    letter-spacing: 0.06em;
    text-align: left;
    margin-right: 0.78vw;
}

.card-ico{
    height: 1.8vw;
    width: 2.35vw;
    background-position: center;
    background-size: cover;
    background-image: url('./images/credit-card.png');
    margin-left: 0.78vw;

}

.start-donation-content-legal{
    height: 5.65vw;
    width: 36.27vw;
    font-family: Arial;
    font-size: 0.94vw;
    font-style: italic;
    font-weight: 400;
    line-height: 1.41vw;
    letter-spacing: 0px;
    text-align: left;
    color: #B2B2B2;
}

.footer-left{
    height: 33.92vw;
    grid-column: 1/2;
    grid-row: 6/7;
    background-image: url('./images/start-footer-background-rotate-2.png');
    background-position: center;
    background-size: cover;
}

.footer-right{
    height: 33.92vw;
    grid-column: 3/4;
    grid-row: 6/7;
    background-image: url('./images/start-footer-background-rotate.png');
    background-position: center;
    background-size: cover;
}


.footer-1280{
    display: flex;
    flex-direction: column;
    height: 33.92vw;
    width: 100%;/*98vw*/
    grid-column: 2/3;
    background-image: url('./images/start-footer-background.png');
    background-position: center;
    background-size: cover;
}

.footer-content{
    display: flex;
    flex-direction: row;
    height: 30.78vw;
    width: 94.18vw;
    margin: 3.14vw 1.14vw 0 2.14vw;
    color:white;
    justify-content: space-between;
}

.footer-content-contacts{
    display: flex;
    flex-direction: column;
    height: 18.35vw;
    width: 21.8vw;
    margin: 1.25vw 10.71vw 4.71vw 0;
}

.footer-content-contacts-title{
    height: 7.06vw;
    width: 26.27vw;
    font-family: Georgia;
    font-size: 2.76vw;
    font-weight: 400;
    line-height: 3.53vw;
    letter-spacing: 0.06em;
    text-align: left;
    
}

.footer-content-contacts-mail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 2.51vw;
    width: 19.69vw;
    margin: 3.14vw 2.18vw 3.14vw 0;
    align-content: center;
    font-family: Georgia;
    font-size: 1.57vw;
    font-weight: 400;
    line-height: 1.8vw;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;

    
}

.mail-ico{
    height: 2.04vw;
    width: 2.67vw;
    background-image: url('./images/icons/mail.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1.57vw;
}

.footer-content-contacts-fone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 2.51vw;
    width: 19.69vw;
    align-content: center;
    font-family: Georgia;
    font-size: 1.57vw;
    font-weight: 400;
    line-height: 1.8vw;
    letter-spacing: 0.06em;
    text-align: left; 
    color: #F1CDB3;
}

.fone-ico{
    height: 2.51vw;
    width: 3.14vw;
    background-image: url('./images/icons/phone.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1.57vw;
}

.footer-content-locations{
    display: flex;
    flex-direction: column;
    height: 18.35vw;
    width: 23.69vw;
    margin-top: 1.25vw;
    justify-content: space-between;
}

.footer-content-locations-title{
    height: 7.06vw;
    width: 21.18vw;
    font-family: Georgia;
    font-size: 2.76vw;
    font-weight: 400;
    line-height: 3.53vw;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 0 2.43vw 2.67vw 1px;
}

.footer-content-locations-boston{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 3.61vw;
    width: 23.69vw;
    font-family: Georgia;
    font-size: 1.57vw;
    font-weight: 400;
    line-height: 1.8vw;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
    margin: 0 0 1.57vw 0;
}

.boston-ico{
    height: 2.98vw;
    width: 3.92vw;
    background-image: url('./images/icons/location.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1.57vw;
    margin-top: 0.39vw;
}

.footer-content-locations-london{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    height: 3.61vw;
    width: 23.69vw;
    font-family: Georgia;
    font-size: 1.57vw;
    font-weight: 400;
    line-height: 1.8vw;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
    /*margin: 0 0 2.51vw 0;*/
}

.london-ico{
    height: 2.51vw;
    width: 1.73vw;
    background-image: url('./images/icons/location.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3.14vw;
    
}

.footer-content-puppy{
    height: 30.78vw;
    width: 30.53vw;
    background-image: url('./images/footer-puppy.png');
    background-position: center;
    background-size: cover;
    margin: 0 0 0 6.71vw;
}
