:root{box-sizing: border-box;
    margin: 0px;
    padding: 0px;    
}

    *,
    ::before,
    ::after{box-sizing: inherit;}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

.our-pets-1280{
    display: grid;
    grid-template-columns: 1fr 1263px 1fr;
}

.our-pets-header-1280{
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 60px;
    margin-top: 30px;
    margin-left: 32px;
    margin-right: 31px;
    grid-column: 2/3;
}

.our-pets-header-logo-1280{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 570px;
    color: #545454;
}

.hed-hov:hover{
   color:black;
}

.our-pets-header-logo-link-1280{
    text-decoration: none;
}

.our-pets-header-logo-title-1280 {
    margin: 0;
    width: 190px;
    height: 35px;
    left: 0px;
    top: calc(50% - 35px/2 - 12.5px);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454; 
}

.our-pets-header-logo-subtitle-1280{
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 0;
    width: 190px;
    height: 15px;
    left: 4px;
    top: calc(50% - 15px/2 + 22.5px);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #545454;
}

.our-pets-header-nav-1280{
    width: 435px;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}
.our-pets-header-nav-pets-1280{
    text-decoration: underline;
    text-decoration-color: #FDDCC4;
    text-decoration-thickness: 3px;
}

#our-pets-header-nav:hover{
    font-weight: 700;
}

.our-pets-pet-1280{
    display: flex;
    flex-direction: column;
    height: 1342px;
    width: 1263px;
    grid-column: 2/3;
    background: #F6F6F6;
}

.our-pets-pet-right{
    grid-column: 3/4;
    grid-row: 2/3;
    background: #F6F6F6;
    height: 1342px;
}

.our-pets-pet-left{
    grid-column: 1/2;
    grid-row: 2/3;
    background: #F6F6F6;
    height: 1342px;
}

.our-pets-pet-content {
    display: flex;
    flex-direction: column;
    height: 1162px;
    width: 1200px;
    margin: 80px 32px 100px 31px;
}

.our-pets-pet-content-heading{
    height: 90px;
    width: 400px;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0 400px 45px 400px;
}

.our-pets-pet-content-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 930px;
    width: 1200px;
}
#pet-card{
    margin: 0;
    background: #FAFAFA;
}
.slider-foto-4{
    background-image: url('../images/pets/pets-sophia.png');
    background-position: center;
    background-size:cover;
}
.slider-foto-5{
    background-image: url('../images/pets/pets-timmy.png');
    background-position: center;
    background-size:cover;
}
.slider-foto-6{
    background-image: url('../images/pets/pets-charly.png');
    background-position: center;
    background-size:cover;
}
.slider-foto-7{
    background-image: url('../images/pets/pets-scarlet.png');
    background-position: center;
    background-size:cover;
}
.slider-foto-8{
    background-image: url('../images/pets/pets-freddie.png');
    background-position: center;
    background-size:cover;
}

.our-pets-pet-content-navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 52px;
    width: 340px;
    margin:45px 430px 0 430px;
}

.button-paginator{
    height: 52px;
    width: 52px;
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #CDCDCD;
}
.button-paginator:hover{
    font-size: 30px;
    border-width: 4px;
}

.button-paginator:active{
    font-size: 30px;
    border-width: 4px;
    color:#F1CDB3;
}

.paginator-content{
    margin-left: auto;
    margin-right: auto;
}
.button-paginator-center{
    color:#292929;
    background-color:#F1CDB3 ;
    border: 2px solid #F1CDB3;
}

.button-paginator-inactive-right-1{
    color:#292929;
    border: 2px solid #F1CDB3;
}

.button-paginator-inactive-right-2{
    color:#292929;
    border: 2px solid #F1CDB3;
}

/*===========================================footer's start==============================================*/
.our-pets-footer-left{
    height: 350px;
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url('../images/start-footer-background-rotate.png');
    background-position: center;
    background-size: cover;
}

.our-pets-footer-right{
    height: 350px;
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url('../images/start-footer-background-rotate.png');
    background-position: center;
    background-size: cover;
}