:root{box-sizing: border-box;
    margin: 0px;
    padding: 0px;    
}

    *,
    ::before,
    ::after{box-sizing: inherit;}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

.our-pets-1280{
    display: grid;
    grid-template-columns: 1fr 99vw 1fr;
}

.our-pets-header-1280{
    display: flex;
    flex-direction: row;
    width: 94.18vw;
    height: 4.71vw;
    margin-top: 2.35vw;
    margin-left: 2.51vw;
    margin-right: 2.43vw;
    grid-column: 2/3;
}

.our-pets-header-logo-1280{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 55.49vw;
    color: #545454;
}

.hed-hov:hover{
   color:black;
}

.our-pets-header-logo-link-1280{
    text-decoration: none;
}

.our-pets-header-logo-title-1280 {
    margin: 0;
    width: 17.06vw;
    height: 2.76vw;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2.51vw;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454; 
}

.our-pets-header-logo-subtitle-1280{
    margin-left: 0.31vw;
    margin-top: 0.78vw;
    margin-bottom: 0;
    margin-right: 0;
    width: 17.06vw;
    height: 1.18vw;
    /*left: 0.31vw;
    top: calc(50% - 1.18vw/2 + 22.0.39vw);*/
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.02vw;
    line-height: 1.18vw;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #545454;
}

.our-pets-header-nav-1280{
    width: 42.76vw;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.18vw;
    line-height: 160%;
    color: #545454;
}
.our-pets-header-nav-pets-1280{
    text-decoration: underline;
    text-decoration-color: #FDDCC4;
    text-decoration-thickness: 0.24vw;
}

#our-pets-header-nav:hover{
    font-weight: 700;
}

.our-pets-pet-1280{
    display: flex;
    flex-direction: column;
    height: 105.25vw;
    width: 99vw;
    grid-column: 2/3;
    background: #F6F6F6;
}

.our-pets-pet-right{
    grid-column: 3/4;
    grid-row: 2/3;
    background: #F6F6F6;
    height: 105.25vw;
}

.our-pets-pet-left{
    grid-column: 1/2;
    grid-row: 2/3;
    background: #F6F6F6;
    height: 105.25vw;
}

.our-pets-pet-content {
    display: flex;
    flex-direction: column;
    height: 91.14vw;
    width: 94.18vw;
    margin: 6.27vw 2.51vw 7.84vw 2.43vw;
}

.our-pets-pet-content-heading{
    height: 7.06vw;
    width: 31.37vw;
    font-family: Georgia;
    font-size: 2.76vw;
    font-weight: 400;
    line-height: 3.53vw;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0 31.37vw 3.53vw 31.37vw;
}

.our-pets-pet-content-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 92.35vw;
    width: 94.18vw;
}
#pet-card{
    margin: 0;
    background: #FAFAFA;
}
.slider-foto-4{
    background-image: url('../images/pets/pets-sophia.png');
    background-position: center;
    background-size:cover;
}
.slider-foto-5{
    background-image: url('../images/pets/pets-timmy.png');
    background-position: center;
    background-size:cover;
}
.slider-foto-6{
    background-image: url('../images/pets/pets-charly.png');
    background-position: center;
    background-size:cover;
}
.slider-foto-7{
    background-image: url('../images/pets/pets-scarlet.png');
    background-position: center;
    background-size:cover;
}
.slider-foto-8{
    background-image: url('../images/pets/pets-freddie.png');
    background-position: center;
    background-size:cover;
}

.our-pets-pet-content-navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 4.08vw;
    width: 26.67vw;
    margin:3.53vw 33.73vw 0 33.73vw;
}

.button-paginator{
    height: 4.08vw;
    width: 4.08vw;
    border: 0.16vw solid #CDCDCD;
    border-radius: 7.84vw;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.57vw;
    line-height: 115%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #CDCDCD;
}
.button-paginator:hover{
    font-size: 2.35vw;
    border-width: 0.31vw;
}

.button-paginator:active{
    font-size: 2.35vw;
    border-width: 0.31vw;
    color:#F1CDB3;
}

.paginator-content{
    margin-left: auto;
    margin-right: auto;
}
.button-paginator-center{
    color:#292929;
    background-color:#F1CDB3 ;
    border: 0.16vw solid #F1CDB3;
}

.button-paginator-inactive-right-1{
    color:#292929;
    border: 0.16vw solid #F1CDB3;
}

.button-paginator-inactive-right-2{
    color:#292929;
    border: 0.16vw solid #F1CDB3;
}

/*===========================================footer's start==============================================*/
.our-pets-footer-left{
    height: 33.92vw;
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url('../images/start-footer-background-rotate.png');
    background-position: center;
    background-size: cover;
}

.our-pets-footer-right{
    height: 33.92vw;
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url('../images/start-footer-background-rotate.png');
    background-position: center;
    background-size: cover;
}